<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">

    <title>Home Craftsy</title>
</head>

<body>
    <header>
        <img src="./images/logo.png" alt="logo">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <div>
            <article>
                <img src="./images/img-phone-01.jpg" alt="phone-01">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur quisquam saepe, iusto et
                    laudantium rerum quis nihil vitae corrupti sapiente repellendus ex recusandae! Obcaecati culpa aut
                    nemo assumenda iste nisi?</p>
            </article>
            <article>
                <img src="./images/img-phone-02.jpg" alt="phone-02">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum explicabo mollitia omnis numquam
                    similique inventore, itaque ducimus, porro adipisci aspernatur deleniti aperiam. Aspernatur,
                    voluptatem illum beatae tempora dolorem laboriosam nam.</p>
            </article>
            <article>
                <img src="./images/img-phone-03.jpg" alt="phone-03">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum facere quod numquam maxime, eum
                    explicabo! Earum culpa dolorem quasi dolore quas totam temporibus quam aut, eum perspiciatis sed
                    illo incidunt.</p>
            </article>
            <article>
                <img src="./images/img-phone-01.jpg" alt="phone-01">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur quisquam saepe, iusto et
                    laudantium rerum quis nihil vitae corrupti sapiente repellendus ex recusandae! Obcaecati culpa aut
                    nemo assumenda iste nisi?</p>
            </article>
            <article>
                <img src="./images/img-phone-02.jpg" alt="phone-02">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum explicabo mollitia omnis numquam
                    similique inventore, itaque ducimus, porro adipisci aspernatur deleniti aperiam. Aspernatur,
                    voluptatem illum beatae tempora dolorem laboriosam nam.</p>
            </article>
            <article>
                <img src="./images/img-phone-03.jpg" alt="phone-03">
                <h3>Nombre del producto</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum facere quod numquam maxime, eum
                    explicabo! Earum culpa dolorem quasi dolore quas totam temporibus quam aut, eum perspiciatis sed
                    illo incidunt.</p>
            </article>
        </div>

        <section>
            <h2>TUTORIALES</h2>
            <article>
                <h4>titulo del tutorial de reparación</h4>
                <img src="./images/aside-01.jpg" alt="aside-01">
            </article>
            <article>
                <h4>titulo del tutorial de reparación</h4>
                <img src="./images/aside-02.jpg" alt="aside-02">
            </article>
            <article>
                <h4>titulo del tutorial de reparación</h4>
                <img src="./images/aside-03.jpg" alt="aside-03">
            </article>
            <article>
                <h4>titulo del tutorial de reparación</h4>
                <img src="./images/aside-04.jpg" alt="aside-04">
            </article>
        </section>

        <section>
            <h4>PUBLICIDAD</h4>
            <img src="./images/ad-01.jpg" alt="ad-01">
            <img src="./images/ad-02.jpg" alt="ad-02">
        </section>

    </main>
</body>

</html>